<div class="container">
    <mat-card class="example-card">
        <mat-card-header class="card-header">
          <mat-card-title>My Todos</mat-card-title>
        </mat-card-header>
        <mat-card-content class="card-content">
            <div class="card-input">
                <form [formGroup]="todoForm" (ngSubmit)="onSubmit()">
                    <mat-form-field appearance="fill">
                        <mat-label>Enter new Todo...</mat-label>
                        <input matInput placeholder="Learn Angular!" formControlName="newTodo">
                        <mat-icon matSuffix>task</mat-icon>
                    </mat-form-field>
                </form>
            </div>

            <div class="empty-todos" *ngIf="todos.size == 0">
                <img src="../assets/images/i_can_fly.svg" alt="">
                <h2>All tasks are Completed!</h2>
                <p>Go have fun outside!</p>
            </div>

            <div class="todos" *ngFor="let todo of todos | keyvalue">
                <app-todo [todo]="todo.value" (deleteTodoEvent)="onDelete($event)" (editTodoEvent)="onEdit($event)"></app-todo>
            </div>
        </mat-card-content>
    </mat-card>
</div>